description = "javascript files at the bottom of body"

[viewBag]

[slideshow slideshowHomeJavaScript]
slideshow = 7
initAuto = 0
includeHTML = 0
includeJavaScript = 1
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
aspectRatio = "ratio-16-9"
showCaptions = 1
captionPosition = "middle center"
autoplayOnShow = 0
nextSlideOnEnd = 0
accessibility = 1
adaptiveHeight = 0
autoplay = 0
autoplaySpeed = 4000
arrows = 1
centerMode = 0
centerPadding = "0px"
dots = 1
draggable = 1
fade = 0
focusOnSelect = 0
infinite = 1
lazyLoad = "ondemand"
mobileFirst = 0
pauseOnFocus = 0
pauseOnHover = 0
pauseOnDotsHover = 0
respondTo = "window"
slidesToShow = 1
swipe = 1
swipeToSlide = 0
touchMove = 1
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
verticalSwiping = 0
rtl = 0
waitForAnimate = 1
useResize = 0
thumbWidth = 0
thumbHeight = 0
thumbMode = "auto"
thumbQuality = 95
thumbFiletype = "jpg"

[slideshow slideshowJavaScript]
slideshow = 6
initAuto = 0
includeHTML = 0
includeJavaScript = 1
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
showCaptions = 1
captionPosition = "middle center"
autoplayOnShow = 1
nextSlideOnEnd = 1
accessibility = 1
adaptiveHeight = 0
autoplay = 0
autoplaySpeed = 8000
arrows = 0
asNavFor = "#subSlideshowHTML"
centerMode = 0
centerPadding = "0px"
dots = 0
draggable = 1
fade = 0
focusOnSelect = 1
infinite = 1
mobileFirst = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
respondTo = "window"
slidesToShow = 1
swipe = 1
swipeToSlide = 0
touchMove = 1
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
verticalSwiping = 0
rtl = 0
waitForAnimate = 1
useResize = 0
thumbWidth = 0
thumbHeight = 0
thumbMode = "auto"
thumbQuality = 95
thumbFiletype = "jpg"

[slideshow subSlideshowJavaScript]
slideshow = 6
initAuto = 0
includeHTML = 0
includeJavaScript = 1
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
showCaptions = 0
captionPosition = "middle center"
autoplayOnShow = 1
nextSlideOnEnd = 1
accessibility = 1
adaptiveHeight = 0
autoplay = 0
autoplaySpeed = 8000
arrows = 0
asNavFor = "#slideshowHTML"
centerMode = 0
centerPadding = "0px"
dots = 0
draggable = 1
fade = 0
focusOnSelect = 1
infinite = 1
mobileFirst = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
respondTo = "window"
slidesToShow = 3
swipe = 1
swipeToSlide = 0
touchMove = 1
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
verticalSwiping = 0
rtl = 0
waitForAnimate = 1
useResize = 0
thumbWidth = 0
thumbHeight = 0
thumbMode = "auto"
thumbQuality = 95
thumbFiletype = "jpg"

[slideshow fullscreenSlideshowJavaScript]
slideshow = 6
initAuto = 0
includeHTML = 0
includeJavaScript = 1
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
showCaptions = 1
captionPosition = "middle center"
autoplayOnShow = 1
nextSlideOnEnd = 1
accessibility = 1
adaptiveHeight = 0
autoplay = 0
autoplaySpeed = 4000
arrows = 0
centerMode = 0
centerPadding = "0px"
dots = 0
draggable = 1
fade = 0
focusOnSelect = 1
infinite = 1
mobileFirst = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
respondTo = "window"
slidesToShow = 1
swipe = 1
swipeToSlide = 0
touchMove = 1
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
verticalSwiping = 0
rtl = 0
waitForAnimate = 1
useResize = 0
thumbWidth = 0
thumbHeight = 0
thumbMode = "auto"
thumbQuality = 95
thumbFiletype = "jpg"

[ShipsList shipsListJavaScript]
includeHTML = 0
includeJavaScript = 1
==
<script src="{{ 'assets/vendor/jquery/dist/jquery.min.js' | theme }}"></script>
<script src="{{ 'assets/vendor/jquery-ui/jquery-ui.min.js' | theme }}"></script>

<script src="{{ [
    'assets/vendor/tether/dist/js/tether.js',
    'assets/vendor/bootstrap/dist/js/bootstrap.min.js',
    'assets/vendor/slick-carousel/slick/slick.min.js',
    'assets/vendor/simpler-sidebar/dist/jquery.simpler-sidebar.min.js',
    'assets/vendor/animatedModal.js-master/animatedModal.js',
    'assets/vendor/masonry/dist/masonry.pkgd.min.js',
    'assets/javascript/special-scroll-events.js',
    'assets/javascript/transformicons.min.js',
    'assets/vendor/barba.js/dist/barba.min.js',
    'assets/javascript/pages/main.js',
    'assets/javascript/jquery.jumplink-mediaquery-monitor.js', 
    'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'
]|theme }}"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.0.0/screenfull.min.js"></script>

{# HOMEPAGE #}
{% component 'slideshowHomeJavaScript' %}

{# SLIDESHOW JS #}

{% component 'slideshowJavaScript' %}
{% component 'subSlideshowJavaScript' %}
{% component 'fullscreenSlideshowJavaScript' %}

{# FLEET #}
{% component 'shipsListJavaScript' %}

{% framework extras %}
{% scripts %}