[viewBag]

[staticMenu main]
code = "main"

[staticMenu footer]
code = "footer"
==
<?php
function onEnd() {
	//dump( $this->page->settings['title'] );
	$this->page->title = $this->page->settings['title'];
}
?>
==
{% if page.title  != 'Home' %} 
	{% set brandClass = 'brand-hidden'  %}
	{% set navbarClass = 'navbar-slim'  %}
{% else %}
	{% set brandClass = ''  %}
	{% set navbarClass = ''  %}
{% endif %}

<div class="navbar-wrapper bg-body navbar-fixed-top">
	<div class="container hidden-md-down ">

		<nav class="navbar navbar-light {{ navbarClass }}" id="navbar-main">	
            <a href="/" class="navbar-brand">
                <img class="fr-dib fr-draggable" src="{{ this.theme.primary_brand | media }}"  alt="Breb Logo">
            </a>
			{% partial 'navigation/navbar-items'
				items=main.menuItems
				class='nav navbar-nav pull-xs-right hidden-md-down main-navigation'
				itemClass='nav-item'
			%}
		</nav>
	</div>
</div>

{% partial 'navigation/sidebar'
	main_items=main.menuItems
	footer_items=footer.menuItems
%}