[viewBag]
==
<div class="bg-primary">
    <div class="container p-y-2" id="footer-certificates-container">
    	<div class='row'>
    	    <div class="col-xs-12 col-lg-8 p-y-2">
    	        <div class="row certificates-row">
                	{% for certificate in  this.theme.certificates %}
                	    <div class="col-auto">
                		    <img class="img-thumbnail img-fluid m-y-1" src="{{ certificate.file | media }}">
                		</div>
                	{% endfor %}
            	</div>
        	</div>
        	<div class="col-xs-12 col-lg-4 p-y-2">
        	    <div class="h4">Follow us</div>
        	    <div class="row sozial-row">
            	    <a href="https://www.linkedin.com/in/cpt-arne-ehlers-12776910/" rel="noopener noreferrer nofollow" target="_blank" class="col-auto m-y-1">
            		    {% partial '../assets/images/icons/social_linkedin_square.svg' %}
            		</a>
            	    <a href="https://www.facebook.com/BREB-GmbH-Co-KG-152670368196261" rel="noopener noreferrer nofollow" target="_blank" class="col-auto m-y-1">
            		    {% partial '../assets/images/icons/social_facebook_square.svg' %}
            		</a>
            		<a href="https://www.instagram.com/brebcuxhaven/?hl=de" rel="noopener noreferrer nofollow" target="_blank" class="col-auto m-y-1">
            		    {% partial '../assets/images/icons/social_instagram_square.svg' %}
            		</a>
        	    </div>
        	    
        	</div>
    	</div>
    </div>
</div>