[viewBag]
==
<div class="col-xs-12 col-md-12 col-lg-7 offset-xs-4 contact-department">

	{% for department in  this.theme.contact_departments %}
		{% if department.active %}
			<div>
				<div>
					<h6 class="text-serif">{{department.title}}</h6>
					{% if department.sub_title != ''%}
						<div class='font-size-sm'>({{department.sub_title}})</div>
					{% endif %}
				</div> 
				<div>{{ department.phone }}</div>
				<div><a href="mailto:{{ department.email }}">{{ department.email }}</a></div>
			</div>
		{% endif %}
	{% endfor %}
</div>