[viewBag]
==
<div class="row p-y-3 lines-container">

    <div class="col-xs-12 col-lg-5 section-headline-text">
    
        <div class="border-top"></div>
        <h3 class="text-xs-center text-sm-left text-serif p-b-3">The Lines</h3>    
            
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="line-names">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#adriatic-line"  data-index="0"  role="tab">
                    <div class="hidden-xs-down">
                        Adriatic Line
                    </div>
                    <div class="hidden-sm-up">
                        Adriatic
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#continental-line"  data-index="1"  role="tab">
                    <div class="hidden-xs-down">
                        Continental Line
                    </div>
                    <div class="hidden-sm-up">
                        Continental
                    </div>
                </a>
            </li>
        </ul>

        {# MOBILE LINER SERVICES LINES IMAGEs #}
        <div class="col-xs-12 col-lg-7 p-b-3 hidden-lg-up liner-services-tab-images-container">
            <div class="lines-route-images-container mobile">
                <img class="lines-route-image-background" src="{{ this.theme.linerservices_lines_background | media }}" alt="linerservices lines background">
                <img class="lines-route-image-1 active" src="{{ this.theme.linerservices_lines_adriatic | media }}"  alt="adriatic lines">
                <img class="lines-route-image-2" src="{{ this.theme.linerservices_lines_continental | media }}" alt="continental lines">
            </div>
        </div>
    
        <!-- Tab panes -->
        <div class="tab-content p-b-2">
            <div class="tab-pane m-t-1 fade active in" id="adriatic-line" role="tabpanel">
                {% partial 'subpages/_adriatic-line.htm' %}
            </div>
            
            <div class="tab-pane m-t-1 fade" id="continental-line" role="tabpanel">
                {% partial 'subpages/_continental-line.htm' %}
            </div>
        </div>

    </div>


    {# LINER SERVICES LINES IMAGES #}
    <div class="col-xs-12 col-lg-7 p-b-3 hidden-md-down liner-services-tab-images-container">
        <div class="lines-route-images-container" >
            <img class="lines-route-image-background" src="{{ this.theme.linerservices_lines_background | media }}" alt="linerservices lines background">
            <img class="lines-route-image-1 active" src="{{ this.theme.linerservices_lines_adriatic | media }}"  alt="adriatic lines">
            <img class="lines-route-image-2" src="{{ this.theme.linerservices_lines_continental | media }}" alt="continental lines">
        </div>
    </div>
    

    
</div>