[viewBag]
snippetCode = "contact"
snippetName = "Contact"
==
<div id="contact" data-target="#contact"> 

    <div class="row">
        
        <div class="col-xs-12 col-lg-3 col-xl-4 section-headline-text" >
            <div class="border-top"></div>
            <h3 class="text-xs-center text-sm-left text-serif">Department</h3>  
        </div>

        {% partial 'subpages/_contact_department' %}
        
    </div>

    <div class="row">
        <div class="m-y-3 col-xs-12 col-md-12 col-lg-7  offset-xs-2 offset-sm-4 offset-xl-4" >          
            {% partial 'subpages/_downloads' 
                downloads = this.theme.contact_downloads
                zipFileName = 'Breb Contact Documents.zip'
            %}
        </div>
    </div>

</div>