[viewBag]
snippetCode = "liner_services"
snippetName = "Liner Services"

[slideshow slideshowHTML]
slideshow = 8
initAuto = 0
includeHTML = 1
includeJavaScript = 0
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
aspectRatio = "ratio-4-3"
showCaptions = 1
captionPosition = "middle center"
autoplayOnShow = 1
nextSlideOnEnd = 1
accessibility = 1
adaptiveHeight = 0
autoplay = 0
arrows = 1
centerMode = 0
centerPadding = "0px"
dots = 0
draggable = 1
fade = 0
focusOnSelect = 0
infinite = 1
mobileFirst = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
respondTo = "window"
slidesToShow = 1
swipe = 1
swipeToSlide = 0
touchMove = 1
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
verticalSwiping = 0
rtl = 0
waitForAnimate = 1
useResize = 1
thumbWidth = 1280
thumbHeight = 960
thumbMode = "crop"
thumbQuality = 95
thumbFiletype = "jpg"

[slideshow subSlideshowHTML]
slideshow = 8
initAuto = 0
includeHTML = 1
includeJavaScript = 0
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
aspectRatio = "ratio-4-3"
showCaptions = 1
captionPosition = "middle center"
autoplayOnShow = 1
nextSlideOnEnd = 1
accessibility = 1
adaptiveHeight = 0
autoplay = 0
arrows = 1
centerMode = 0
centerPadding = "0px"
dots = 0
draggable = 1
fade = 0
focusOnSelect = 0
infinite = 1
mobileFirst = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
respondTo = "window"
slidesPerRow = 1
slidesToShow = 3
swipe = 1
swipeToSlide = 0
touchMove = 1
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
verticalSwiping = 0
rtl = 0
waitForAnimate = 1
useResize = 1
thumbWidth = 1280
thumbHeight = 960
thumbMode = "crop"
thumbQuality = 95
thumbFiletype = "jpg"

[slideshow fullscreenSlideshowHTML]
slideshow = 8
initAuto = 0
includeHTML = 1
includeJavaScript = 0
injectSlickAssets = 0
injectSlickTheme = 0
injectJLSlideshowCSS = 0
injectJQuery = 0
showCaptions = 1
captionPosition = "middle center"
autoplayOnShow = 1
nextSlideOnEnd = 1
accessibility = 1
adaptiveHeight = 0
autoplay = 0
arrows = 1
centerMode = 0
centerPadding = "0px"
dots = 0
draggable = 1
fade = 0
focusOnSelect = 0
infinite = 1
mobileFirst = 0
pauseOnFocus = 1
pauseOnHover = 1
pauseOnDotsHover = 0
respondTo = "window"
slidesToShow = 1
swipe = 1
swipeToSlide = 0
touchMove = 1
useCSS = 1
useTransform = 1
variableWidth = 0
vertical = 0
verticalSwiping = 0
rtl = 0
waitForAnimate = 1
useResize = 1
thumbWidth = 1280
thumbHeight = 960
thumbMode = "auto"
thumbQuality = 95
thumbFiletype = "jpg"
==
<div id="liner-services" data-target="#liner-services"> 
    
        <div class="row">
            
			<div class="col-xs-12 col-lg-5 section-headline-text" >

				<div class="border-top"></div>
				<h3 class="text-xs-center text-sm-left text-serif">{{ this.page.title }}</h3>  
				
				<div id="liner-services-content-container" class="p-y-3">
					
					<div class="p-b-3">             
						{% content 'liner_services.htm' %}
					</div>
					
					<div class="text-xs-center text-sm-left">
						<a href="mailto:{{this.theme.liner_services_email}}" class="btn btn-blue-outline m-b-3">contact</a>
					</div>

					{% partial 'subpages/_downloads' 
						downloads = this.theme.liner_services_downloads
						zipFileName = 'Breb Liner-Services Documents.zip'
					%}

				</div>

			</div>
						
			<div class="col-xs-12 col-lg-7 slideshow-container" >
				
				{% partial 'subpages/_animated_modal' 
					fullscreenButtonID = 'linerServicesFullscreenButton'
					name = 'linerServicesAnimatedModal'
					modalContent = 'fullscreenSlideshowHTML'
				%}
				
				{% component 'slideshowHTML' %}
				{% component 'subSlideshowHTML' %}
			
			</div>
			
			
        </div>

		{% partial 'subpages/_lines' %}

</div>
