#fleet{
	#layout-content {
	    
		#default-layout-container {
		    
    	    .background-box {
    	        background-size: contain !important;
    	    }
			
	
			.grid , .grid-sm{
				//  background: $gray-lightest;
				/* center */

				.grid-sizer { 
					width: 350px; 
					
					@include media-breakpoint-down(xs) {
						width: 100%;
					}
				}

				margin: 0 auto;
				.grid-item {
					.grid-item-inner {
					  width:  calc(100vw - 30px);
					  max-width: 348px;
					  background-color: white;
						border: 1px solid  $brand-primary; //$transparent;
						height: 100%;
					}
					width: 350px;
					height: 413px;
					float: left;
					margin-bottom: 30px;
					transition-delay: 0s;
					transition-duration: 0.3s;
					transition-property: box-shadow;
					transition-timing-function: ease;					
					> * {
						text-decoration: none;
						transition-delay: 0s;
						transition-duration: 0.3s;
						transition-property: all;
						transition-timing-function: ease;
					}
					&:hover {
						//@extend .z-depth-1-half;
						//border: 1px solid  $brand-primary;
					}
					.card-block {
						padding-left:0;
						padding-right:0;
						padding-bottom:0;
						.content-container {
							table {
								 margin-top: 1rem;
								td, th{
									text-align: left;
									padding: 0.5rem 0.25rem 0.5rem 0.5rem;
									font-size:0.76rem; //0.85rem;
									border-top: none;
									&.data{
										color:$brand-primary;
									}
								}
								td:not(:first-child){
									padding-left:0.3rem;
								}
							}
						}

						.card-title {

						}
					}
				}

				// &.XS {
				// 	.grid-item {
				// 		width:87vw;
				// 	}
				// }
			}

			.grid-sm {
				max-width:350px;
				.grid-item {
					width: 99.2%;
    				max-width: 350px; 
    				margin-left: 1px;
				}
			}
		

		}
	}
}