/*
* MAIN NAVIGATION –––––––––––––––––––––––––––––––––––––––––––––––––––
**/
$navbar-brand-height: 37px;
$navbar-brand-width: 150px;

.navbar-slim {
	padding-bottom: 0 !important;
	height: 3rem !important;
	transition: all .25s ease-in-out;
	border-bottom: 1px solid $brand-primary;

	.main-navigation {
		margin-top:0 !important;
		height:36px;
	}
}

#navbar-main {
	transition: all .25s ease-in-out;
	height:110px;

	.main-navigation {
		margin-top: 40px;		
		transition: all .25s ease-in-out;
	}
	&.navbar-slim{
		.navbar-brand {
			margin-top: 0;
			// width: 5.4rem !important;
		}
		img{
			width:15rem;
			width: 5.4rem !important;
			margin-top: 0.4rem !important;
		}
	}

	.navbar-brand {
		height: 64px;
		margin-top: 30px;
		transition: all .25s ease-in-out;
		position: absolute;
		z-index: 1;
		
		&.brand-hidden {
			opacity:0 !important;
			height:0 !important;
		}
		
		img {
			transition: all .25s ease-in-out;
			width:14rem;
			@include media-breakpoint-down(md) {
				width: 5.4rem;
				margin-top: 2.2rem;
				margin-left: -1rem;
			}		
		}

		@include media-breakpoint-up(lg) {
			margin-top: 1.35rem;
		}

		@include media-breakpoint-down(md) {
			margin-top: 11px;
		}

	}

}


.border-bottom {
	border-bottom: 1px solid;
}

.main-navigation.small{
	margin-top:0;
}

.navbar-phone {
	height: 2.2rem;
	border-bottom: 1px solid $brand-primary;
}