@import '../../../../plugins/jumplink/slideshow/assets/vendor/slick-carousel/slick/slick.scss';
@import '../../../../plugins/jumplink/slideshow/assets/vendor/slick-carousel/slick/slick-theme.scss';

@import '../../../../plugins/jumplink/slideshow/assets/scss/slideshow.scss';

.background-box {
    background-position: top center;
}

@-webkit-keyframes arrow-jump {
    0% {
    
    }
    50% {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
    
    }
}

.scroll-down {
    display: block;
    color: white;
    position: absolute;
    bottom: 25px;
    width: 50px;
    height: 50px;
    left: 50vw; // fallback
    right: 50vw; // fallback
    left: calc(50vw - 25px);
    right: calc(50vw - 25px);
    cursor: pointer;
    .fa {
        -webkit-animation: arrow-jump 1s infinite; /* Safari 4+ */
        -moz-animation:    arrow-jump 1s infinite; /* Fx 5+ */
        -o-animation:      arrow-jump 1s infinite; /* Opera 12+ */
        animation:         arrow-jump 1s infinite; /* IE 10+, Fx 29+ */
        color: white;
        display: block;
        font-size: 50px;
    }
    
}

#animatedModal, .animatedModal {
	.close-animatedModal {
		color: white;
		position: fixed;
		z-index: 1;
		right: 1rem;
		top: 1rem;
	}

	.modal-content {
		$arrow-padding: 1rem;

		.slick-prev {
			left: $arrow-padding;
				&.fullscreen {
					margin-bottom:20px;
				}
		}
		.slick-next {
			right: $arrow-padding;
		}
		.slick-prev, .slick-next {
			//position: absolute;
			z-index: 999;
			margin-top: 23.4vw !important;
			@include media-breakpoint-up(xl) {

			}
			@include media-breakpoint-down(lg) {
				//margin-top: 6.6rem;
			}
			@include media-breakpoint-down(md) {
			//	margin-top: 4.3rem;
			}
		
		}
		.slick-prev:before, .slick-next:before {
			color: $brand-danger;
		}
		

	}

}

#home {


	
	#slideshowHomeHTML {
		//min-height: 635px;
	}
	.slick-dots {
		position: absolute;
		bottom: 20px;
		list-style: none;
		display: block;
		text-align: center;
		padding: 0;
		margin: 0;
		right: 11px;
		text-align: right;
	}
	
	.carousel-video-wrapper video, .carousel-image-wrapper img {
			// opacity: 0.6 !important;
	}

	#latest-blog-posts {
		.latest-blog-posts-carousel {
			.slick-list {
				.slick-track{
					.card{
						.text-sm-right{
							margin-bottom: 0;
						}
						.latest-blog-posts-content-container {
							height: 72px;
							//text-align: justify !important;
							color:black;
							line-height: $line-height;
						}
					}
				}
			}
			.learn-more a{
				#reports{ 
					.learn-more a {
						color: $brand-primary !important;
					}
				}
			}
		}
		
		#latest-blog-posts-row {
			.slick-slide {
				margin: 0 $grid-gutter-width/2; // result  0 0.9375rem
				height: 200px;
			}
			.slick-list {
				margin: 0 -$grid-gutter-width;
			}
			.slick-prev {
				left: -48px;
			}
			.slick-next {
				right: -49px; //by intention! +1
			}
		}
	}
}


#linerservices, #shipping, #port_agency, #offshore, #forwarding {

	.fullscreen-button{
		background-image: url(../images/icons/small-w.svg);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100% auto;
		position: absolute;
		width: 15px;
		height: 15px;
		z-index: 999;
		// right: 45px;
		// top: 29px;

		right: 35px;
    	top: 23px;

		&:hover{
			background-image: url(../images/icons/small-r.svg);
		}
	}
	.close-animated-modal {
		background-image: url(../images/icons/big-close-w.svg);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100% auto;
		position: absolute;
		width: 25px;
		height: 25px;
		z-index: 999;
		right: 22px;
		top: 25px;
		&:hover{
			background-image: url(../images/icons/big-close-r.svg);
		}		
	}

	.carousel-caption-wrapper {
			position: relative;
		.carousel-caption-content {

			position: absolute;
			background-color: rgba(255, 255, 255, 0.75); //sassify me
			width: 100%;
			bottom: 0px;
			padding: 1rem 3rem 0 3rem;
			@include media-breakpoint-down(xs) {
				position: relative;
				padding: 1rem 0 0 0rem;
			}
			
			h2 {
				font-size: $font-size-lg;
			}
			p {
				color:black !important;
			}

		}
	}
	
	.slick-prev {
		left: 1rem;		
	}
	.slick-next {
		right: 1rem;
	}

		.slick-prev {
		left: 1rem;		
	}

	#slideshowHTML, #subSlideshowHTML {
		.slick-prev, .slick-next {
			position: absolute;
			z-index: 999;
				
			@include media-breakpoint-down(xs) {
				display:none !important;
			}

		    top: 100%;
		    -webkit-transform: translate(0, -3.25rem);
		    -ms-transform: translate(0, -3.25rem);
		    transform: translate(0, -3.25rem);

			
		}
	}
	.slick-prev:before, .slick-next:before {
		color: $brand-danger;	
	}
	.slideshow-container {
		min-height: 559px;
		@include media-breakpoint-up(xl) {
			min-height: 626px
		}
		@include media-breakpoint-down(lg) {
			min-height: 559px;
		}
		@include media-breakpoint-down(md) {
			min-height: 487px;
		}
		@include media-breakpoint-down(sm) {
			min-height: 0;
		}
	}

	/**
	* Slideshow Navigation carousel
	*/
	#linerServicesSlideshowHTML2, 
	#shippingSlideshowHTML2,
	#forwardingSlideshowHTML2, 
	#portAgencySlideshowHTML2,
	#offshoreSlideshowHTML2, 
	#subSlideshowHTML
	{

		overflow: hidden;
		.carousel-image-wrapper{
			.carousel-caption-wrapper {
				display:none;
			}
		}
		.slick-slide {
			margin: 4rem $grid-gutter-width/2; // result  0 0.9375rem
			// height:200px;
		}
		.slick-list {
			margin: 0 -$grid-gutter-width;
		}
		.slick-prev {
			left: -48px;
		}
		.slick-next {
			right: -49px; //by intention! +1
		}

	}

	#fullscreenSlideshowHTML {
		.caption-nav {
			height: 6rem; 
			position: absolute; 
			bottom: 0; 
			left: 0; 
			right:0; 
			margin-top: 70vh;  
			z-index: 1337; 
			line-height: normal; 
			padding: 1rem 3rem 1rem 3rem;
			
		}
		.white{
			&:before{
				color:white;
			}
		}
		>button{ // hide slick default arrows , settings seam to have no effect ?!
			&.slick-prev{
				display:none !important;
			}
			&.slick-next{
				display:none !important;
			}
		}
		.caption-wrapper {
			opacity:1;
			display: table;
			width:100%;
			transition: opacity .25s ease-in-out;
			transition-delay: 0s;
			transition-duration: 0.3s;
			transition-property: all;
			transition-timing-function: ease;
			background-color: rgba(255,255,255,0); //0.75
			position: absolute; 
			bottom: 0; 
			left: 0; 
			right:0; 
			min-height: 20vh;
			height: 20vh;
			z-index: 1337; 
			line-height: normal; 
			padding: 1rem 3rem 1rem 3rem;
			.slick-prev, .slick-next {
				&:before{
					color:white;
				}
			}
			.caption-content {
				opacity:0;
				display: table-cell;
				vertical-align: middle;
			}
			&.visible {
				.caption-content {
					opacity: 1;
				}
				opacity:1;
				background-color: rgba(255,255,255,0.75);
			}
			&:hover{
				//background-color: rgba(255,255,255,0.75); //
			}
			button {
				&.visible {
					&:before{
						color: $brand-danger;
					}
				}
				&.slick-prev, &.slick-next {
					position: absolute;
					z-index: 1338;
		    		bottom: 10vh;
		    		-webkit-transform: translate(0, 50%);
		    		-ms-transform: translate(0, 50%);
		    		transform: translate(0, 50%);

			
				}
			}
		}
	}

}