// change the default values, if so remove `!default` on the end of the variable

@import 'variables';

@import '../vendor/bootstrap/scss/bootstrap.scss';
@import '../vendor/font-awesome/scss/font-awesome.scss';


@import 'helper';
@import 'layout';
@import 'slideshow';
@import 'shadow';
@import 'buttons';
@import 'navbar';
@import 'transformicons';
@import 'sidebar';
@import 'card';
@import 'fonts';
@import 'forms';
@import 'images';
@import 'footer';
@import 'blog';
@import 'fleet';
@import 'homepage';
@import 'contact';
@import 'animate';
@import 'lists';
@import 'lines';

body {
	max-width: 100%; // fallback
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll; //no page jumps if content is low height
}


.section-headline-text {
	.border-top {
		border-top: solid $brand-primary 4px;
		margin-bottom: 14px;
		width: 61px;
		@include media-breakpoint-down(xs) {
			margin:0 auto;
		}
	}
	h3 {
		@include media-breakpoint-down(sm) {
			//text-align: center !important;
			margin-top: 1rem;
    		margin-bottom: 1rem;
		}		
	}
}

h3, h4, .card-block .text-sm-right {
	color: $brand-primary;//!important;
}

nav .container {
	padding-left: 0;
}



#default-layout-container {
	margin-top: 8rem;
	@include media-breakpoint-down(sm) {
		margin-top: 4rem;
	}
	//
	//position: fixed;
}


.card {
	border: 1px solid $brand-primary;
}

.card-block {
	.text-sm-right {
		margin-bottom: 15px;
	}
}

.nav-link, .card-block  {
	transition: all .25s ease-in-out;
	transition-delay: 0s;
	transition-duration: 0.3s;
	transition-property: all;
	transition-timing-function: ease;
	  
}

.download-list {
	//list-style-image: url(../images/icons/download1.svg);
	list-style: none;
	li {
		a {
			color: black;
			padding-left: 4rem;
			@include media-breakpoint-down(xs) {
				padding-left: 2.4rem;
			}
			&::before{
				content: url(../images/icons/download1.svg);
				position: absolute;
				margin-left: -2.5rem;
				margin-top: -0.1rem;
			}
		}
	}
}

.download-all-link {
	margin-left: 3.9rem;
	@include media-breakpoint-down(xs) {
		margin-left: 2.4rem;
	}

	color:black;
	&::before {
		position: absolute;
		margin-top: -0.2rem;
		margin-left: -3rem;
		content: url(../images/icons/download2.svg);
	}

}
// downlod text
h6 {
	color: $brand-primary;
	font-weight:600;
}

/*
 * SUBPAGES –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
 
 **/
#linerservices {

	@include media-breakpoint-up(xl) {
		min-height: 1402px; 
	}
	@include media-breakpoint-down(lg) {
		min-height: 1308px;
	}
	#liner-services{
		#liner-services-content-container {
			text-align: justify !important;
		}
	}
	.liner-services-tab-images-container {		
		min-height: 29.1rem;
		@include media-breakpoint-down(xs) {
			min-height: 80vw;//30rem;
		}
		// @include media-breakpoint-down(xs) {
		// 	min-height: 81vw∏
		// }
		@include media-breakpoint-only(md)  {
			min-height: 37rem;
		}

	}
	.lines-route-images-container {
		margin-top:9rem;
		&.mobile {
			margin-top:1rem;
			img {
				top:1rem;
			}
		}
		img {
			position:absolute;
			opacity:0;
			transition:  512ms;
			top:9rem;
			&.active {
				opacity:1;
			}
			&.lines-route-image-background{ 
				opacity:1 !important;
				//osition:inherit;
			}
		}
	}

}
.content-container {
	text-align: justify !important;
}

.download-partial {
	width: 270px;
}


#terms {
	
	.section-headline-text {
		@include media-breakpoint-down(xs) {
			p{
				margin-top:1rem;
			}
		}
	}

	#terms-content-container{
		@include media-breakpoint-down(md) {

			margin-top: 2rem;

		}	
		@include media-breakpoint-down(xs) {
			h6{
				text-align: center;
			}
		}
	}
}
    