[SeoCmsPage]
==
{% set google_analytics_on = false %}

<!DOCTYPE html>
<html>
    <head>
        {% component 'SeoCmsPage' %}
        {% partial 'html_head' %}
    </head>
    <body>
        {% partial 'navbar' %}
        {% partial 'blog/blog_header' %} 
        
        <div id="barba-wrapper">
           
            <div
                {% partial 'barba-container-attributes' %}
            >
                <section id="layout-content">
                    {% page %}
                </section>
            </div>
        </div>
           
        {% partial 'footer/footer_brand' %}
        {% partial 'footer/footer_navigation' %}
        {% partial 'footer/footer_contact' %}
        {% partial 'footer/certificates' %}
        {% partial 'footer/footer_legal' %}    
        {% partial 'body_foot' %}    
        
    </body>
</html>