[viewBag]
==
<div id="reports" class="blog-content-wrapper"> 

	<div class="container {% if blogCategories.categories|length == 0 %}no-nav{% endif %}" id="all-posts-container">

		{#
		PAGINATION
		#}
		{% partial 'blog/_pager' 
			posts=posts
			page=page
		%}

		{% set _image = ship.image|mediathumb_resize('width', 350) %}

		{#
		GRID
		#}
		<div class="grid">
		  <div class="grid-sizer"></div>
			{% for post in posts %}
				<div class="grid-item {{ post.categories[0].name|slug }}" data-category="{{ post.categories[0].name|slug }}">
					<div class="grid-item-inner">
						<a href="{{ post.url }}" class="" data-category="{{ post.categories[0].name|slug }}">

							{% if post.featured_images.count %}
								<div class="featured-images text-center "> 
									{% set image = post.featured_images[0].thumb(auto,800)%}
									<!--
									<div class="background-box ratio-16-9" 
											style="display:block; background-image: url({{ image }});" 
											title="{{ image.description | raw }}">
									</div>
									-->
									<img class="img-fluid w-100" src="{{image}}" alt="{{post.title}}">
								</div>
							{% endif %}

							<div class="card-block">
								
								<div class="text-xs-right">{{ post.published_at|date('M d, Y') }}</div>
								<h4 class="card-title text-lg-left text-serif">{{ post.title }}</h4>

								<div class='latest-blog-posts-content-container'>
									{{ post.summary | raw }} {{colums}}
								</div>

								<div class="learn-more m-x-auto text-xs-right p-t-1">
									<div class=''>read more</div>
								</div>

							</div>

						</a>
					</div>
				</div>
			{% endfor %} 
		</div>
	

		{#
		PAGINATION
		#}
		{% partial 'blog/_pager' 
			posts=posts
			page=page
		%}

	</div>
</div>